body {
	--spacing: 2em;

	display: grid;
	gap: var(--spacing);
	margin: initial;
	padding: var(--spacing);
}

form {
	background-color: whitesmoke;
	display: grid;
	gap: var(--spacing);
	padding: var(--spacing);
}
